@use 'sass:map';
@use 'sass:math';
@use '_config.scss' as *;
// @use 'plugin/bootstrap/bootstrap.scss' with (
//     $container-max-widths: (
//         sm: 540px,
//         md: 720px,
//         lg: 960px,
//         xl: 1140px,
//         xxl: 90%
//     ),
// );
@use 'plugin/_tmdrPreset.scss' with ($spacingIncrement: 15,
);

// @font-face {
//     font-family: Hiragino;
//     src: url('../font/Hiragino\ Kaku\ Gothic\ ProN/') format(otf);
// }
@use '../../node_modules/bootstrap/scss/bootstrap.scss';
@use '../../node_modules/swiper/swiper.scss';
@use 'components/header';
@use 'components/footer';

@font-face {
    font-family: 'Hiragino Kaku Gothic ProN W3';
    src: url('/source/font/Hiragino/HiraginoKakuGothicProNW3.otf');
}



// |‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾| //
// | Timedoor New Standard                   | //
// |_________________________________________| //

.ratio-item {
    @extend %ratioItem;
}

@media (min-width: 1200px){
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 950px;
    }
}




body {
    font-family: 'Hiragino Kaku Gothic ProN W3';
    background-color: #F8F8F8;
}

hr{
    border-top: 1px solid #959494;
}