body {
  background: url("../../../assets/images/bg-body.jpg");
}

.agreement__title {
  margin: 32px 0px;
  font-size: 32px;
  text-align: center;
  border-bottom: solid 3px #777;
  color: #777;
  line-height: 2;
  font-weight: 700;
}
.agreement__inner {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #ffffff;
}
.agreement__content {
  padding: 10px;
  width: 80%;
  margin: 0 auto;
}
.agreement__content h3 {
  margin: 32px 0px;
  padding: 10px;
  font-size: 22px;
  border-bottom: 1px solid #777;
  color: #777;
  font-weight: 700;
}
.agreement__content ul, .agreement__content ol {
  padding: 10px 10px 10px 30px;
}
.agreement__content p, .agreement__content li {
  color: #777;
  font-size: 18px;
  line-height: 2;
}
.agreement__content p {
  padding: 0px 10px;
  margin: 24px 0px;
}
.agreement__tbl {
  width: 80%;
  margin: 0 auto;
}
.agreement__tbl th {
  background-color: #eee;
  border: solid 1px #ccc;
  color: #777;
  text-align: center;
  padding: 5px;
  font-size: 22px;
}
.agreement__tbl td {
  padding: 20px;
  border: solid 1px #eee;
  font-size: 20px;
}
.agreement__tbl a {
  color: #000;
  text-decoration: underline;
}
@media only screen and (max-width: 1399.98px) {
  .agreement__title {
    margin: 20px 0px;
    font-size: 28px;
  }
  .agreement__content {
    width: 100%;
    margin: 0 auto;
  }
  .agreement__content h3 {
    margin: 32px 0px;
    font-size: 20px;
  }
  .agreement__content p, .agreement__content li {
    font-size: 14px;
  }
  .agreement__content p {
    margin: 18px 0px;
    font-size: 14px;
  }
  .agreement__tbl {
    width: 100%;
    margin: 0 auto;
  }
  .agreement__tbl th {
    font-size: 18px;
  }
  .agreement__tbl td {
    padding: 16px;
    font-size: 16px;
  }
}
@media only screen and (max-width: 991.98px) {
  .agreement__title {
    font-size: 24px;
  }
  .agreement__inner {
    padding: 0px;
  }
  .agreement__tbl {
    width: 100%;
    margin: 0 auto;
  }
  .agreement__tbl th {
    font-size: 16px;
  }
  .agreement__tbl td {
    padding: 14px;
    font-size: 14px;
  }
}
