.login {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}
.login__container {
  max-width: 600px;
}
.login__title {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 50px;
}
.login__container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.login__desc {
  margin-bottom: 25px;
}
.login__card {
  width: 100%;
  padding: 20px;
  background-color: #F7F7F7;
  border-radius: 8px;
  border: 1px solid #ddd;
}
.login__input-group {
  margin-bottom: 10px;
}
.login__label {
  width: 100%;
  font-size: 16.5px;
  color: #222222;
}
.login__input {
  padding: 10.5px;
  color: #222222;
}
.login__input:focus {
  box-shadow: none;
  border: 1px solid #ddd;
}
.login__input:active {
  box-shadow: none;
  border: 1px solid #ddd;
}
.login__btn {
  width: 100%;
  padding: 16.5px 0px;
  border-radius: 4px;
  background-color: #e80;
  color: #fff;
  border: 1px solid #d87b00;
}
.login__btn-register {
  width: 100%;
  padding: 16.5px 0px;
  border-radius: 4px;
  background-color: #525252;
  color: #fff;
  border: 1px solid #545454;
}
.login__btn-register:hover {
  background-color: #525252;
  color: #fff;
  border: 1px solid #545454;
}
.login__forget-password {
  color: #F6542C;
  display: inline-block;
  width: 100%;
  position: relative;
}
.login__forget-password::before {
  content: " ";
  background-color: currentColor;
  --svg: url("https://api.iconify.design/ep/d-arrow-right.svg");
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 62%;
}
