.section-title{
    font-size: 28.8px;
    font-weight: bold;
    letter-spacing: 5px;
    margin: 40.5px auto;
    text-align: center;
}

.section-label{
    border-left: 6px solid #e80;
    font-size: 16.5px;
    font-weight: bold;
    margin: 16.5px 0;
    padding: 3.3px 0px 3.3px 8.25px;
}